  <div class="row">
  
  <div class="col-xs-9">
  <%= render 'ads/index', ads: @ads %>
  </div>

  <div class="col-md-2">
  <!-- 前の画面に戻る -->
  <!-- プロフィール -->
  <% if ad_client_signed_in? %>
  <%= render 'ad_clients/profile' , ad_client: @ad_client %>
  <% elsif owner_signed_in?%>
  <%= render 'owners/profile' , owner: @owner %>
  <% end %>
  <!-- ジャンル一覧 -->
  <%= render "ads/genre_templete", genres: @genres %>
  </div>

  </div>

