<td>フォロー&emsp;<%= link_to @ad_client.following_owner.count, followings_ad_client_path(@ad_client) %></td>
<td>フォロワー&emsp;<%= link_to @ad_client.follower_owner.count, followers_ad_client_path(@ad_client) %></td> 