    <table class="table">
    <tr id="none-border">
    <td class="text-center">
    <%= attachment_image_tag owner, :profile_image, fallback: "no_image.jpg", class: "image-circle", size: "230x170" %>
    </td>
    </tr>
    <tr id="none-border">
    <td class="text-center">
    <%= owner.owner_name %> 様
    </td>
    </tr>
    <% if current_owner == owner %>
    <tr id="none-border">
    <td class="text-center">
    <%= link_to 'オーナー様 情報編集',edit_owner_path(current_owner),class: "btn btn-primary" %>
    </td>
    </tr>
    <% end %>
    </table>