    <div class="row">
    <div class="col-xs-10">
    <h2>  Follow list</h2>
    <table class="table">
    <tbody>
    <% @followers.each do |oener| %>
    <tr>
    <td><%= attachment_image_tag owner, :profile_image, fallback: "no-image-mini.jpg",size:'100x100' %></td>
    <td><%= owner.owner_name %></td>
    <td><%= link_to "Show", owner, class: "owners_#{owner.id}" %></td>
    </tr>
    <%end %>
    </tbody>
    </table>
    </div>
    </div>