<div class="welcom">
<h1>Welcome OSIPer!!</h1>
<h3>Online Salon Owner can create a small business with this app</h3>
<h3>OSIPerは広告を出したい企業と広告宣伝を行いたいオンラインサロンオーナー様をマッチングするアプリケーションです</h3>
</div>


<div class="">
<div class="flow-img">
</div>
<div class="row">
<div class="col-xs-5 col-xs-offset-1">

</div>
<div class="col-xs-5">

</div>
</div>



	<h1>OSIPer flow</h1>
		<div class="flow-img">
    <%= image_tag "logo2.jpg" %>
		</div>
	<h3>QnA よくあるご質問</h3>
		<h4>※現在、準備中です。</h4><br>
	<h3>ご利用規約</h3>
	<h3>会社概要</h3>
		<p>株式会社 OSIPer</p>
		<p>東京都千代田区丸の内１ー１ー１パレスビル１５F</p>
		<p>surport@OSIPer.jp</p>
		ここに地図を埋め込み