<div class="bg-slider">

<div class="container">
<div class="row">

<div class="welcom">
<h1>Welcome OSIPer!!</h1>
<h3>Online Salon Owner can create a small business with this app</h3>
<h2>OSIPerは広告を出したい企業と広告宣伝を行いたいオンラインサロンオーナー様をマッチングするアプリケーションです!!</h2>
</div>

</div>
</div>
</div>