<div class="bg-slider">

<div class="container">
<div class="row">

<div class="welcom">
<div class="center">
<h1>Welcome OSIPer!!</h1></div>
<h2>Online Salon Owner can create a small business with this app</h2>
<h2>OSIPerは広告を出したい企業と広告宣伝を行いたいオンラインサロンオーナー様<br>
をマッチングするアプリケーションです!!</h2>
</div>

</div>
</div>
</div>